<a href="https://colab.research.google.com/github/niladribanerjee80/python-udemy-jose/blob/main/Section_6_Methods_and_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Functions**


---

Built-in objects
* numbers
* strings
* list
* tuple
* dict
* set \
etc. \
have all built-in functions.

In [ ]:
# list

mylist = [1,2,3]
mylist.append(4)
mylist

[1, 2, 3, 4]

In [ ]:
mylist.pop()

4

In [ ]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

**func ()**:\
  \# ***do something*** (repeatable block of code)

$ **call func()**



---



**def \<name_of_function>:<br>**
  '''<br>
    **docstring = what the function does<br>**
  '''<br>
&emsp; // **code**

In [ ]:
def add_num(num1,num2):
  return num1 + num2

In [ ]:
add_num(10,20)

30

In [ ]:
def say_hello():
  print("Hello")

In [ ]:
say_hello()

Hello

In [ ]:
def say_hello(name):
  print("Hello "+name)

In [ ]:
say_hello("Niladri")

Hello Niladri

In [ ]:
# using default value
def say_hello(name = 'Default'):
  print("Hello "+name)

In [ ]:
say_hello()

Hello Default

In [ ]:
# you can store the result if return is used
result = add_num(10,40)
result

50

**Logic with Python functions**

In [ ]:
# create a function to check if a number is even

def even_check(number):
  result = number % 2 == 0
  return result

In [ ]:
even_check(20)

True

In [ ]:
even_check(41)

False

In [ ]:
# improvement
def even_check(number):
  return number % 2 == 0

In [ ]:
even_check(20)

True

In [ ]:
# Return TRUE if any number is even in a list

def check_even_list(num_list):
  for number in num_list:
    if number % 2 == 0:
      # breaks the loop + function also stops here
      return True
    else:
      pass

In [ ]:
check_even_list ([1,2,3])

True

In [ ]:
# does not do anything
check_even_list ([1,5,3])

In [ ]:
# new requirement = return False if the entire list is odd

def check_even_list(num_list):

  for number in num_list:
    if number % 2 == 0:
      return True

  return False

In [ ]:
# expecting False as return
check_even_list ([1,5,3])

False

In [ ]:
# Return all even numbers in a list

def check_even_list(num_list):

  even_numbers = []

  for number in num_list:
    if number % 2 == 0:
      even_numbers.append(number)

  return even_numbers

In [ ]:
check_even_list([1,2,3,4,5,6,10,16,24,25])

[2, 4, 6, 10, 16, 24]

**Tuple unpacking with functions**

In [ ]:
# Tuple unpacking with functions

stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

for item in stock_prices:
  print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [ ]:
# you can unpack the values

for ticker,price in stock_prices:
  print(ticker)

APPL
GOOG
MSFT

In [ ]:
# we could modify the values and print as well

for item,price in stock_prices:
  print(price + (0.1*price))

220.0
440.0
110.0

In [ ]:
# list of tuple = (employee, hours worked)
work_hours = [('Abby',100),('Billy',400),('Cassie',800)]

In [ ]:
# return a tuple that has the best employee of a month who has worked the max hours
def employee_check(work):

  current_max = 0
  employee_of_the_month = ''

  for employee, hours in work:
    if hours > current_max:
      current_max = hours
      employee_of_the_month = employee

  # return a tuple
  return (employee_of_the_month,current_max)

In [ ]:
# verify
employee_check(work_hours)

('Cassie', 800)

In [ ]:
# we can unpack at the function call as well
name, hours = employee_check(work_hours)

In [ ]:
name

'Cassie'

In [ ]:
hours

800

In [ ]:
# if you don't know how many values to unpack, first get the item first

item = employee_check(work_hours)
item

('Cassie', 800)

**Interactions withing Functions**


---

We will use a carnival guessing game <br>

* 3 cups are there
* a red ball is under any cup - 1,2,3 and gets shuffled
* player has to make a guess which cup contains the ball

We will mimic the game using
* list
* shuffling of list
* player has to guess
* check if the guess is correct

In [ ]:
from random import shuffle

In [ ]:
# Showing the list shuffling capability
example = [1,2,3,4,5,6]
shuffle(example)
example

[2, 5, 4, 3, 6, 1]

In [ ]:
# every time it gets shuffled
shuffle(example)
example

[5, 6, 2, 4, 3, 1]

In [ ]:
# what is going to happen
monte_list = [' ','O',' ']
shuffle(monte_list)
monte_list

['O', ' ', ' ']

In [ ]:
def shuffled_list(monte_list):
  shuffle(monte_list)
  return monte_list

In [ ]:
def player_guess():
  guess = '' # initialize the variable

  while guess not in ['0','1','2']:
    guess = input("Pick a number 0,1 or 2 : ").strip()

  return (int(guess))

In [ ]:
def check_guess(shuffled_list,guess):
  if shuffled_list[guess] == 'O':
    print("Correct!")
  else:
    print("Wrong guess!")
    print(shuffled_list)

In [ ]:
# write a script to combine everything together

# INITIAL LIST
monte_list = [' ','O',' ']

# SHUFFLE THE LIST
mixedup_list = shuffled_list(monte_list)

# ASK PLAYER FOR THE GUESS
pguess = player_guess()

# CHECK THE GUESS
check_guess(mixedup_list,pguess)

Pick a number 0,1 or 2 : 1
Wrong guess!
['O', ' ', ' ']

# args and kwargs

---

* args - arguments (tuple of params)
* kwargs - keyword arguments (dictionary of params)

These are used when we don't know how many params we have to deal with.

In [2]:
def myfunc(a,b):
  # returns 5% of the sum of a + b
  # tuple (a,b)
  return sum((a,b)) * 0.05

In [3]:
myfunc(10,20)

1.5

In [4]:
# what if we had to pass more arguments and we do not know what are they beforehand

myfunc(10,20,30,40)

TypeError: myfunc() takes 2 positional arguments but 4 were given

In [8]:
def myfunc(*args):
  # args get converted into tuple
  # why tuple? it cannot be altered
  print(args)
  return sum(args)

In [7]:
myfunc(10,20,30,40,100)

(10, 20, 30, 40, 100)

200

In [9]:
# *args is a convention, but any other variable will work the same way
def myfunc(*spam):
  return sum(spam)

In [10]:
myfunc(10,20,30,40,100)

200

In [14]:
# **kwargs use
# converts the keyword arguments into a dictionary

def myfunc(**kwargs):
  print(kwargs)
  if 'fruit' in kwargs:
    print(f"My fruit of choice is {kwargs['fruit']}")
  else:
    print('No fruit')

In [15]:
myfunc(fruit="apple",food="eggs")

{'fruit': 'apple', 'food': 'eggs'}
My fruit of choice is apple

In [17]:
# we can use args and kwargs together

def myfunc(*args,**kwargs):
  print(args)
  print(kwargs)
  print(f"I would like {args[0]} {kwargs['food']}")

In [18]:
myfunc(10,20,30,fruit = "orange",food = "eggs")

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs'}
I would like 10 eggs

**Note - the order of args and kwargs is important**

## Coding exercise 1


---

Define a function called myfunc that takes in an arbitrary number of arguments, and returns the sum of those arguments.<br>

Remember, don't run the function, simply provide the definition.<br>

For example, a function that returns a count of the number of arbitrary arguments might look like:<br><br>

def myfunc(*args):<br>
&emsp;return len(args)<br>
This is all you need to enter!<br><br>

To give an idea what the above function would look like when tested:<br><br>

myfunc(5,6,7,8)<br>
Output = 4 <br><br>
Added note: this exercise requires that the function return the sum. Print statements will not work here.

In [19]:
# coding exercise 1

def myfunc(*args):
  return sum(args)

In [20]:
myfunc(10,20,30,40)

100

## Coding exercise 2


---

Functions #9: pick evens
Define a function called myfunc that takes in an arbitrary number of arguments, and returns a list containing only those arguments that are even.

Remember, don't run the function, simply provide the definition.

To give an idea what the function would look like when tested:

myfunc(5,6,7,8)
Output: [6, 8]
Added note: this exercise requires that the function return a list. Print statements will not work here.

In [41]:
def myfunc(*args):
  even_list = []
  # print(args)
  for item in args:
    if isinstance(item, int): # check if item is an int
      if item % 2 == 0: # check if it is even or not
        even_list.append(item)
    elif isinstance(item, str) and item.isdigit(): # item is a string but can be converted into integer
      if int(item) % 2 == 0:
        even_list.append(int(item))
    else:
      pass
  return even_list

In [42]:
myfunc(10,20,'item','Niladri','2',3,'4',5,7,9,13)

[10, 20, 2, 4]

## Coding exercise 3

---

**Requirements**

1. **Define a function myfunc()**
2. **Input**
  * string
3. **Output**
  * matching string where every even letter is uppercase
  * every odd letter is lowercase
4. **Assumptions**
  * incoming string only contains letters - no numbers, spaces or punctuation

5. **Example**
  * myfunc('Anthropomorphism') \
Output: 'AnThRoPoMoRpHiSm'

In [48]:
def myfunc(word):
  revised_word = ''
  for index,letter in enumerate(word):
    if index % 2 == 0: # position is even
      revised_word = revised_word + letter.upper()
    else: # position is odd
      revised_word = revised_word + letter.lower()

  return revised_word

In [49]:
myfunc('Anthropomorphism')

'AnThRoPoMoRpHiSm'