<a href="https://colab.research.google.com/github/niladribanerjee80/python-udemy-jose/blob/main/Section_3_Objects%20and%20Data%20Structures%20Assessment%20Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a href='https://www.udemy.com/user/joseportilla/'><img src='https://github.com/niladribanerjee80/python-udemy-jose/blob/Pierian_Data_Logo.png?raw=1'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>
# Objects and Data Structures Assessment Test

## Test your knowledge.

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

**Numbers**: Represents a quantity

Number systems
* Decimal (base = 10)
* Binary (base = 2)
* Octal (base = 8)
* Hexadecimal (base = 16)

*Number system architecture*

Real Number
* with decimal
  * terminating (1.12)
  * non-terminating
    * repeating (1.121212121212 ...)
    * non-repeating - π , e etc. Irrationals

* without decimal
  * Integers
    * -ve int
    * 0
    * +ve int

Strings: Ordered sequence of characters. Strings are not mutable.

**Lists**: Ordered sequence of items that can hold variety of objects. Lists are mutable.\
e.g. = my_list = [1,"string",100.25]

**Tuples**: Ordered sequence of items that can hold variety of objects similar to lists but tuples are not mutable. \
e.g. = my_tuple = (1,2,'string')

**Dictionaries**:

A dictionary in Python is an unordered collection of key-value pairs. It's a versatile data structure used to store and retrieve data using unique keys.

But after Python 3.7 dictionaries have order. Now sorted() can be used in dictionaries

**Key Characteristics**:

* Unordered: Elements have no inherent order up to 3.7. Now it is available
* Mutable: You can add, remove, or modify key-value pairs after creation.
* Keys must be unique: Duplicate keys are not allowed.
* Keys must be immutable: You can use data types like numbers, strings, or tuples as keys, but not lists or other dictionaries.

| Data Type | Indexed | Sliced | Sorted | Mutable | Ordered | Iterable | Hashable |
|---|---|---|---|---|---|---|---|
| Numbers | No | No | No | No | No | No | Yes |
| String | Yes | Yes | Yes | No | Yes | Yes | Yes |
| List | Yes | Yes | Yes | Yes | Yes | Yes | No |
| Tuple | Yes | Yes | Yes | No | Yes | Yes | Yes (if all elements are hashable) |
| Dictionary | Yes (by keys) | No | No | Yes | No (before Python 3.7) | Yes (keys are iterable) | No |
| Set | No | No | No | Yes | No | Yes | No |

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [ ]:
(10**3 / 10) + 20 - 20 + (0.5 * 0.5)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>
= 8.5

What would you use to find a number’s square root, as well as its square?

In [ ]:
# Square root:
import math

number = 25

sq_root = math.sqrt(number)

print(sq_root)

5.0

In [ ]:
# Square:
number = 6

squared_number = (6 ** 2)

print(squared_number)

36

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [ ]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [ ]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [ ]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [ ]:
# Method 2:
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [1]:
# Method 1:
my_list = [0] * 3
my_list

[0, 0, 0]

In [ ]:
# Method 2:
my_list = []
for i in range(3):
  my_list.append(0)

print(my_list)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [ ]:
list3 = [1,2,[3,4,'hello']]

list3[2][2] = 'goodbye'

list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [2]:
# Method 1
list4 = [5,3,4,6,1]

sorted(list4)

[1, 3, 4, 5, 6]

In [ ]:
# Method 2
list4 = [5,3,4,6,1]

list4.sort()

list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [ ]:
d = {'simple_key':'hello'}
# Grab 'hello'

d['simple_key']

'hello'

In [ ]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

d['k1']['k2']

'hello'

In [ ]:
# Getting a little tricker
d = {'k1':[{'nest_key' : ['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [ ]:
# This will be hard and annoying!
d = {'k1':[1,2, {'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>
**Answer** <br>
No dictionaries cannot be sorted. It is accessed using key-value pair

In [ ]:
# from Python 3.7 onwards dictionaries are sorted
my_dict = {
          "cherry": 2,
          "banana": 1,
          "apple": 3
          }
sorted_dict_by_keys = dict(sorted(my_dict.items()))
sorted_dict_by_keys

{'apple': 3, 'banana': 1, 'cherry': 2}

In [ ]:
# sort dictionaries by values
my_dict = {
          "cherry": 2,
          "banana": 1,
          "apple": 3
          }
sorted_dict_by_values = dict(sorted(my_dict.items(), key=lambda item: item[1]))
sorted_dict_by_values

{'banana': 1, 'cherry': 2, 'apple': 3}

## Tuples

What is the major difference between tuples and lists?<br><br>

* Lists are mutable where Tuples are not

How do you create a tuple?<br><br>

my_tuple = (1,2,3)

## Sets

What is unique about a set?<br><br>
Collection of well defined unique elements. The elements can be of different types

In [ ]:
my_set = set()
my_set.add(1)
my_set.add("Pakshi")
my_set

{1, 'Pakshi'}

Use a set to find the unique values of the list below:

In [ ]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
my_set = set(list5)
my_set

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [ ]:
# Answer before running cell
# False
2 > 3

False

In [ ]:
# Answer before running cell
# False
3 <= 2

False

In [ ]:
# Answer before running cell
# False
3 == 2.0

False

In [ ]:
# Answer before running cell
# True
3.0 == 3

True

In [ ]:
# Answer before running cell
# False
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [ ]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
# False
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!