<a href="https://colab.research.google.com/github/niladribanerjee80/python-udemy-jose/blob/main/Section_17_Working_with_PDF_CSV_Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with CSV

In [4]:
import csv

# open the file
data = open("example.csv", encoding="utf-8")

# csv.reader
csv_data = csv.reader(data)

# reformat the data into a python object = list of lists
data_lines = list(csv_data)

for line in data_lines[:11]:
    print(line)

['id', 'first_name', 'last_name', 'email', 'gender', 'ip_address', 'city']
['1', 'Joseph', 'Zaniolini', 'jzaniolini0@simplemachines.org', 'Male', '163.168.68.132', 'Pedro Leopoldo']
['2', 'Freida', 'Drillingcourt', 'fdrillingcourt1@umich.edu', 'Female', '97.212.102.79', 'Buri']
['3', 'Nanni', 'Herity', 'nherity2@statcounter.com', 'Female', '145.151.178.98', 'Claver']
['4', 'Orazio', 'Frayling', 'ofrayling3@economist.com', 'Male', '25.199.143.143', 'Kungur']
['5', 'Julianne', 'Murrison', 'jmurrison4@cbslocal.com', 'Female', '10.186.243.144', 'Sainte-Luce-sur-Loire']
['6', 'Lucy', 'Gamet', 'lgamet5@list-manage.com', 'Female', '10.151.93.36', 'Pak Phli']
['7', 'Dyana', 'Howatt', 'dhowatt6@amazon.com', 'Female', '224.169.61.29', 'Palmares']
['8', 'Kassey', 'Herion', 'kherion7@amazon.com', 'Female', '245.51.154.79', 'Zákynthos']
['9', 'Chrissy', 'Hedworth', 'chedworth8@china.com.cn', 'Male', '124.222.93.57', 'Boevange-sur-Attert']
['10', 'Hyatt', 'Gasquoine', 'hgasquoine9@google.ru', 'Male', '221.155.106.39', 'Złoty Stok']

In [5]:
# we know the first row is a header

# how to get the specific row, let say row = 10th

data_lines[10]

['10',
 'Hyatt',
 'Gasquoine',
 'hgasquoine9@google.ru',
 'Male',
 '221.155.106.39',
 'Złoty Stok']

In [7]:
# how to get all email values

# we know emails are present in 3rd column index

all_emails = []

# doing this for 20 items
for line in data_lines[1:21]:
    all_emails.append(line[3])

# print the emails
for email in all_emails:
    print(email)

jzaniolini0@simplemachines.org
fdrillingcourt1@umich.edu
nherity2@statcounter.com
ofrayling3@economist.com
jmurrison4@cbslocal.com
lgamet5@list-manage.com
dhowatt6@amazon.com
kherion7@amazon.com
chedworth8@china.com.cn
hgasquoine9@google.ru
ftarra@shareasale.com
abathb@umn.edu
lchastangc@goo.gl
cceried@yale.edu
ajeppe@umich.edu
pcaldeirof@chronoengine.com
nclunieg@utexas.edu
kroish@unicef.org
iboycotti@dailymail.co.uk
bglanertj@timesonline.co.uk

In [9]:
# if you look at the dataset, the first and last names are present differently

# let say we need the full name

names = []

# doing this for 20 records
for line in data_lines[1:21]:
    names.append(line[1]+' '+line[2])

for name in names:
    print(name)

Joseph Zaniolini
Freida Drillingcourt
Nanni Herity
Orazio Frayling
Julianne Murrison
Lucy Gamet
Dyana Howatt
Kassey Herion
Chrissy Hedworth
Hyatt Gasquoine
Felicdad Tarr
Andrew Bath
Lucais Chastang
Car Cerie
Alvera Jepp
Prescott Caldeiro
Nariko Clunie
Kalvin Rois
Isa Boycott
Benedetta Glanert

In [10]:
# how to write to a csv file

file_to_output = open("to_save_file.csv", mode='w', newline='')

In [11]:
csv_writer = csv.writer(file_to_output,delimiter=",")

In [12]:
csv_writer.writerow(['a','b','c'])

7

In [13]:
# takes list of list but it has to match the columns

csv_writer.writerows([
                        ['1','2','3'],
                        ['4','5','6'],
                        ['7','8','9']
                     ]
                    )

In [14]:
# close the file
file_to_output.close()

# Working with PDF