<a href="https://colab.research.google.com/github/niladribanerjee80/python-udemy-jose/blob/main/Section_6b_Function%20Practice%20Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a href='https://www.udemy.com/user/joseportilla/'><img src='https://github.com/niladribanerjee80/python-udemy-jose/blob/Pierian_Data_Logo.png?raw=1'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
      return min(a,b)
    else:
      return max(a,b)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [ ]:
def animal_crackers(text):
    words = text.split()
    return words[0][0] == words[-1][0]

In [ ]:
# Check
animal_crackers('Levelheaded Llama')

True

In [ ]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [ ]:
def makes_twenty(n1,n2):
    return n1 == 20 or n2 == 20 or n1+n2 == 20

In [ ]:
# Check
makes_twenty(20,10)

True

In [ ]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [ ]:
def old_macdonald(name):
  return name[0].upper()+name[1:3]+name[3].upper()+name[4:]

In [ ]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [ ]:
def master_yoda(text):
    words = text.split()
    return " ".join(words[::-1])

In [ ]:
# Check
master_yoda('I am home')

'home am I'

In [ ]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [5]:
def almost_there(n):
  return abs(100-n) <= 10 or abs(200-n) <= 10

In [6]:
# Check
almost_there(104)

True

In [7]:
# Check
almost_there(150)

False

In [8]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33:

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [ ]:
def has_33(nums):

  temp = -99

  for index,num in enumerate(nums):
    if num == 3:
      if index == temp+1:
        return True
      else:
        temp = index

  return False

In [6]:
# another way
def has_33(nums):
  for i in range(0,len(nums)-1):
    if nums[i] == 3 and nums[i+1] == 3:
      return True
  return False

In [5]:
# interesting case - the below is not same as above. This program is incorrect as per the requirement
def has_33(nums):
  for i in range(0,len(nums)-1):
    return ((nums[i] == 3) and (nums[i+1] == 3)) # returns False the moment it does not satisfy
  return False

In [7]:
# Check
has_33([1, 3, 3])

True

In [8]:
# Check
has_33([1, 3, 1, 3])

False

In [9]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [ ]:
def paper_doll(text):
  new_string = ''
  for letter in text:
    new_string = new_string + letter * 3
  return new_string

In [ ]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [ ]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [14]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
      return sum([a,b,c])
    elif sum([a,b,c]) > 21 and 11 in [a,b,c]:
      return (sum([a,b,c]) - 10)
    else:
      return 'BUST'

In [15]:
# Check
blackjack(5,6,7)

18

In [16]:
# Check
blackjack(9,9,9)

'BUST'

In [17]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
def summer_69(arr):

  arr.sort() # create the sorted list
  new_list = []

  if 6 in arr and 9 in arr:
    for num in arr:
      if num < 6 or num > 9:
        new_list.append(num)
  else:
    new_list = arr

  return sum(new_list)

In [22]:
# another way
def summer_69(arr):

  total = 0
  add = True

  for num in arr:
    while add:
      if num != 6:
        total += num
        break
      else:
        # stop adding if num = 6
        add = False

    while not add:
      if num != 9:
        break
      else:
        # stop adding until num reaches = 9
        add = True
        break
  return total

In [19]:
# Check
summer_69([1, 3, 5])

9

In [20]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [21]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [ ]:
def spy_game(nums):
  index_0_1 = -1
  index_0_2 = -1
  index_7 = -1
  # we need to ensure at least 2x0's and 1x7 are available
  if nums.count(0) >= 2 and nums.count(7) >= 1:
    index_0_1 = nums.index(0)
    index_0_2 = nums.index(0,index_0_1+1)
    index_7 = nums.index(7)

    if index_0_1 < index_0_2 < index_7:
      return True

  return False

In [ ]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [ ]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [ ]:
# Check
spy_game([1,7,2,0,4,5,0])

False

In [34]:
# another way
def spy_game(nums):

  code = [0,0,7,'x']

  for num in nums:
    if num == code[0]:
      code.pop(0)

  return len(code) == 1

In [35]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [36]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [37]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [38]:
def count_primes(num):

  prime_list = []

  for dividend in range(2,num+1):
    prime = 1

    for divisor in range(2,10):
      if dividend > divisor and dividend % divisor == 0:
        prime = 0

    if prime == 1:
      prime_list.append(dividend)

  return prime_list

In [39]:
# Check
prime_list = count_primes(100)
print(prime_list)
print(len(prime_list))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [44]:
def print_big(letter):

    patterns = {
      1 : '  *  ',
      2 : ' * * ',
      3 : '*   *',
      4 : '*****',
      5 : '**** '
    }

    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5]}

    for pattern in alphabet[letter.upper()]:
      # print(pattern)
      print(patterns[pattern])

In [45]:
print_big('a')

  *
 * *
*****
*   *
*   *

In [46]:
print_big('b')

****
*   *
****
*   *
****

## Great Job!