<a href="https://colab.research.google.com/github/niladribanerjee80/python-udemy-jose/blob/main/Section_5_Python_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# If statements

In [ ]:
if True:
  print('ITS TRUE')

ITS TRUE

In [ ]:
if 3 > 2:
  print('ITS TRUE!')

ITS TRUE!

In [ ]:
hungry = False

if hungry:
  print('Feed me!')
else:
  print('I am not hungry')

I am not hungry

In [ ]:
# if - elif - else use

loc = "Bank"

if loc == "Auto Shop":
  print('Cars are cool !')
elif loc == "Bank":
  print('Money is cool !')
else:
  print('I do not know much')

Money is cool !

# For Loops


---

many objects in python are iterable. This means we can iterate over every element in the object

* strings
* list
* tuple
* dictionary
* sets

are all iterables

We can execute for loops to execute a block of code for every iteration.

for item in iterable:\
&emsp; do something

In [ ]:
# for loop using list
my_list = [1,2,3]

for item in my_list:
  print(item)

1
2
3

In [ ]:
# print only even number
my_list = [1,2,3,4,5,6,7,8,9,10]

for num in my_list:
  if num % 2 == 0:
    print(num)

2
4
6
8
10

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]

for num in my_list:
  if num % 2 == 0:
    print(f"Even number : {num}")
  else:
    print(f"Odd number  : {num}")

Odd number  : 1
Even number : 2
Odd number  : 3
Even number : 4
Odd number  : 5
Even number : 6
Odd number  : 7
Even number : 8
Odd number  : 9
Even number : 10

In [ ]:
# how to keep a running total
my_list = [1,2,3,4,5,6,7,8,9,10]

list_sum = 0

for num in my_list:
  list_sum = list_sum + num
  print(f"Running total : {list_sum}")

Running total : 1
Running total : 3
Running total : 6
Running total : 10
Running total : 15
Running total : 21
Running total : 28
Running total : 36
Running total : 45
Running total : 55

In [ ]:
# print the total
my_list = [1,2,3,4,5,6,7,8,9,10]
list_sum = 0

for num in my_list:
  list_sum = list_sum + num
print(f"Running total : {list_sum}")

Running total : 55

In [ ]:
# for loop over string

for letter in 'Hello world':
  print(letter)

H
e
l
l
o

w
o
r
l
d

In [ ]:
# for loop over tuple

tup = (1,2,3)

for item in tup:
  print(item)

1
2
3

In [ ]:
# for loop over list of tuples. Each item is a tuple here
my_list = [(1,2),(2,3),(4,5)]

for item in my_list:
  print(item) # returns tuple

(1, 2)
(2, 3)
(4, 5)

In [ ]:
# if we get each item as tuple, we can unpack the tuple

for a,b in my_list:
  print(f"first item : {a} and Second item : {b}")

first item : 1 and Second item : 2
first item : 2 and Second item : 3
first item : 4 and Second item : 5

In [ ]:
# for loop over dictionary

d = {
    'k1' : 1,
    'k2' : 2,
    'k3' : 3
}

for item in d:
  # by default dictionaries iterate over keys
  print(item)

k1
k2
k3

In [ ]:
# dict.items() return tuples
for item in d.items():
  print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [ ]:
# we can unpack the tuple because each item is a tuple returned by dictionary
for key, value in d.items():
  print(f"key : {key} and value : {value}")

# note - we may not always get the items in ordered way

key : k1 and value : 1
key : k2 and value : 2
key : k3 and value : 3

# While Loops


---



```
while <condition = boolean>:
  # execute
  # change the condition parameters

while <condition = boolean>:
  # do something
else:
  # do something else
```

In [1]:
x = 0

while x < 5:
  print(f"The current value of x is {x}")
  x = x + 1

# time complexity = (1 * 6) {condition} + 1 * 5 {print stmt} + 1 * 5 {assignment} = 6 + 5 + 5 = 16
  # degree = O(n)
# space complexity
  # x => 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [2]:
# let's add an else statement

x = 0

while x < 5:
  print(f"The current value of x is {x}")
  x = x + 1
else:
  print("X is not less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

**keywords**
* break - breaks from the immediate loop
* continue - skips the current execution and goes to the top of the current loop
* pass - do nothing

In [3]:
# pass
x = [1,2,3]
for item in x:
  # use pass for showing do nothing, or else runtime error will show
  pass

In [5]:
# continue

my_string = "Sammy"

for letter in my_string:
  # I want to skip letter = a
  if letter == "a":
    continue
  print(letter)

S
m
m
y

In [6]:
# break

my_string = "Sammy"

for letter in my_string:
  # I want to stop printing when letter = a
  if letter == "a":
    break
  print(letter)

S

In [8]:
# break : another example

x = 0

while x < 5:
  # break if x reaches 2
  if x == 2:
    break
  print (x)
  x = x + 1

0
1