<a href="https://colab.research.google.com/github/niladribanerjee80/python-udemy-jose/blob/main/Section_3_Objects_and_Data_Structures_Lecture_21_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lists**


---

Lists are ordered sequences that can hold variety of object types \
e.g \


*   [1,2,3] is a list
*   ["My STRING",100.23,67] is also a list

Lists can be muted / changed and can be nested

In [5]:
# list of integers
my_list = [1,2,3]
my_list

[1, 2, 3]

In [6]:
# list of mixed objects
my_list = ["STRING",2,3.56]
my_list

['STRING', 2, 3.56]

In [7]:
# length of list
len(my_list)

3

In [13]:
# Lists support indexing
my_list = ["one","two","three"]
my_list[0]

'one'

In [14]:
# Lists support slicing like in strings
my_list[1:]

['two', 'three']

In [15]:
# List concatenation is also possible
another_list = ["four","five"]
my_list = my_list + another_list
my_list

['one', 'two', 'three', 'four', 'five']

In [16]:
# List can be muted
my_list[0] = "ONE ALL CAPS"
my_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [17]:
# List methods = list.append() = adds element to the end of the list
my_list.append("six")
my_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [18]:
# List methods = list.insert()
my_list.insert(0,"zero")
my_list

['zero', 'ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [19]:
# List methods = list.pop() = removes item from last if index position is not mentioned
my_list.pop()
my_list

['zero', 'ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [20]:
# grab the last element
popped_item = my_list.pop()
popped_item

'five'

In [21]:
# remove something from a different position. Let say let's remove 'ONE ALL CAPS'
popped_item = my_list.pop(1)
print(popped_item)
print(my_list)

ONE ALL CAPS
['zero', 'two', 'three', 'four']

In [22]:
# List sort method with strings
new_list = ["a","e","x","b","c"]
new_list.sort()
new_list

['a', 'b', 'c', 'e', 'x']

In [23]:
# List sort method with numbers
new_list = [4,1,8,3]
new_list.sort()
new_list

[1, 3, 4, 8]

In [24]:
# Reverse a list
new_list = [4,1,8,3]
new_list.reverse()
new_list

[3, 8, 1, 4]

In [25]:
# How do I index a nested list? For example if I want to grab 2 from [1,1,[1,2]]
list_1 = [1,1,[1,2]]
list_1[2][1]

2

In [29]:
# Create a list using input()
items = input("Enter multiple integers : ").strip().split()

Enter multiple integers : 1 2 3 4

In [30]:
items

['1', '2', '3', '4']