<a href="https://colab.research.google.com/github/niladribanerjee80/python-udemy-jose/blob/main/Section_5_Python_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# If statements

In [ ]:
if True:
  print('ITS TRUE')

ITS TRUE

In [ ]:
if 3 > 2:
  print('ITS TRUE!')

ITS TRUE!

In [ ]:
hungry = False

if hungry:
  print('Feed me!')
else:
  print('I am not hungry')

I am not hungry

In [ ]:
# if - elif - else use

loc = "Bank"

if loc == "Auto Shop":
  print('Cars are cool !')
elif loc == "Bank":
  print('Money is cool !')
else:
  print('I do not know much')

Money is cool !

# For Loops


---

many objects in python are iterable. This means we can iterate over every element in the object

* strings
* list
* tuple
* dictionary
* sets

are all iterables

We can execute for loops to execute a block of code for every iteration.

for item in iterable:\
&emsp; do something

In [ ]:
# for loop using list
my_list = [1,2,3]

for item in my_list:
  print(item)

1
2
3

In [ ]:
# print only even number
my_list = [1,2,3,4,5,6,7,8,9,10]

for num in my_list:
  if num % 2 == 0:
    print(num)

2
4
6
8
10

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]

for num in my_list:
  if num % 2 == 0:
    print(f"Even number : {num}")
  else:
    print(f"Odd number  : {num}")

Odd number  : 1
Even number : 2
Odd number  : 3
Even number : 4
Odd number  : 5
Even number : 6
Odd number  : 7
Even number : 8
Odd number  : 9
Even number : 10

In [ ]:
# how to keep a running total
my_list = [1,2,3,4,5,6,7,8,9,10]

list_sum = 0

for num in my_list:
  list_sum = list_sum + num
  print(f"Running total : {list_sum}")

Running total : 1
Running total : 3
Running total : 6
Running total : 10
Running total : 15
Running total : 21
Running total : 28
Running total : 36
Running total : 45
Running total : 55

In [ ]:
# print the total
my_list = [1,2,3,4,5,6,7,8,9,10]
list_sum = 0

for num in my_list:
  list_sum = list_sum + num
print(f"Running total : {list_sum}")

Running total : 55

In [ ]:
# for loop over string

for letter in 'Hello world':
  print(letter)

H
e
l
l
o

w
o
r
l
d

In [ ]:
# for loop over tuple

tup = (1,2,3)

for item in tup:
  print(item)

1
2
3

In [ ]:
# for loop over list of tuples. Each item is a tuple here
my_list = [(1,2),(2,3),(4,5)]

for item in my_list:
  print(item) # returns tuple

(1, 2)
(2, 3)
(4, 5)

In [ ]:
# if we get each item as tuple, we can unpack the tuple

for a,b in my_list:
  print(f"first item : {a} and Second item : {b}")

first item : 1 and Second item : 2
first item : 2 and Second item : 3
first item : 4 and Second item : 5

In [ ]:
# for loop over dictionary

d = {
    'k1' : 1,
    'k2' : 2,
    'k3' : 3
}

for item in d:
  # by default dictionaries iterate over keys
  print(item)

k1
k2
k3

In [ ]:
# dict.items() return tuples
for item in d.items():
  print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [ ]:
# we can unpack the tuple because each item is a tuple returned by dictionary
for key, value in d.items():
  print(f"key : {key} and value : {value}")

# note - we may not always get the items in ordered way

key : k1 and value : 1
key : k2 and value : 2
key : k3 and value : 3

# While Loops


---



```
while <condition = boolean>:
  # execute
  # change the condition parameters

while <condition = boolean>:
  # do something
else:
  # do something else
```

In [ ]:
x = 0

while x < 5:
  print(f"The current value of x is {x}")
  x = x + 1

# time complexity = (1 * 6) {condition} + 1 * 5 {print stmt} + 1 * 5 {assignment} = 6 + 5 + 5 = 16
  # degree = O(n)
# space complexity
  # x => 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [ ]:
# let's add an else statement

x = 0

while x < 5:
  print(f"The current value of x is {x}")
  x = x + 1
else:
  print("X is not less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

**keywords**
* break - breaks from the immediate loop
* continue - skips the current execution and goes to the top of the current loop
* pass - do nothing

In [ ]:
# pass
x = [1,2,3]
for item in x:
  # use pass for showing do nothing, or else runtime error will show
  pass

In [ ]:
# continue

my_string = "Sammy"

for letter in my_string:
  # I want to skip letter = a
  if letter == "a":
    continue
  print(letter)

S
m
m
y

In [ ]:
# break

my_string = "Sammy"

for letter in my_string:
  # I want to stop printing when letter = a
  if letter == "a":
    break
  print(letter)

S

In [ ]:
# break : another example

x = 0

while x < 5:
  # break if x reaches 2
  if x == 2:
    break
  print (x)
  x = x + 1

0
1

# Useful operator


---
* range()
* enumerate()
* zip()
* Membership operator -> in
* min(), max()
* random.shuffle()
* random.randint()
* input()

In [ ]:
# range
# it is a generator function
# syntax : range(start, stop, step size)

for num in range(10):
  print (num)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for num in range(0,10,2):
  print(num)

0
2
4
6
8

In [ ]:
# cast using list
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [ ]:
# enumerate
# why we should use this?

index_count = 0

for letter in 'abcde':
  print(f"at index {index_count}, we have letter {letter}")
  index_count = index_count + 1

at index 0, we have letter a
at index 1, we have letter b
at index 2, we have letter c
at index 3, we have letter d
at index 4, we have letter e

In [ ]:
# now use enumerate

word = "abcde"

for item in enumerate(word):
  print(item) # retuns tuples

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [ ]:
# therefore, we can unpack the tuples
for index, letter in enumerate(word):
  print(f"index : {index}, value : {letter}")

index : 0, value : a
index : 1, value : b
index : 2, value : c
index : 3, value : d
index : 4, value : e

In [ ]:
# zip () - zips two or more lists of same dimension

list_1 = [1,2,3]
list_2 = ['a','b','c']

for item in zip(list_1,list_2):
  print(item) # returns tuple and therfore can be unpacked

# unpacking the value
for x,y in zip(list_1,list_2):
  print(x)

(1, 'a')
(2, 'b')
(3, 'c')
1
2
3

In [ ]:
# Membership operator = in

'x' in 'xmas'

True

In [ ]:
'x' in [1,2,3]

False

In [ ]:
'Nil' in 'Niladri'

True

In [ ]:
# works for dictionary keys

'k1' in {'k1':12}

True

In [ ]:
# works for values as well

d = {'k1':12}

12 in d.values()

True

In [ ]:
# min() and max()

mylist = [10,20,30]

print(min(mylist))
print(max(mylist))

10
30

In [ ]:
# random = library
# shuffle = function

from random import shuffle

list1 = [1,2,3,4,5,6,7,8,9,10]

shuffle(list1)

list1

[5, 10, 6, 4, 1, 2, 3, 7, 8, 9]

In [ ]:
shuffle(list1)

list1

[2, 4, 7, 8, 10, 1, 3, 9, 5, 6]

In [ ]:
# random = library
# randint = function

from random import randint

randint(0,100)

35

In [ ]:
randint(0,100)

11

In [ ]:
randint(0,100)

35

In [ ]:
# input()
# input returns string by default
your_number = input("Enter your number")
print(your_number)

Enter your number34
34

# List Comprehension


---

In [1]:
# requirement = we need to make a list with every character of the string
mystring = 'hello'

mylist = []

for letter in mystring:
  mylist.append(letter)

mylist

['h', 'e', 'l', 'l', 'o']

In [4]:
# List comprehension
# flattening out the for loop, but reduced readability

mystring = "hello"
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [5]:
# another use case

mylist = [x for x in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
mylist = [x**2 for x in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
# use of "if" condition for even numbers only

mylist = [x**2 for x in range(0,11) if x%2 == 0]
mylist

[0, 4, 16, 36, 64, 100]

In [9]:
# celcius -> farenheit problem

celcius = [0,10,20,34.5]
farenheit = []

for temp in celcius:
  farenheit.append((9/5)*temp + 32)

farenheit

[32.0, 50.0, 68.0, 94.1]

In [12]:
# using list comprehension

celcius = [0,10,20,34.5]
farenheit = []
farenheit = [(9/5)*temp + 32 for temp in celcius ]
farenheit

[32.0, 50.0, 68.0, 94.1]

In [14]:
# using if-else
# note - don't do it at the cost of losing out readability
# only if statement is suffixed, if-else is prefixed

results = [x if x%2==0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [15]:
# Nested loop

mylist = []

for x in [2,4,6]:
  for y in [100,200,300]:
    mylist.append(x*y)

mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [17]:
# using list comprehension

mylist = [x*y for x in [2,4,6] for y in [100,200,300]]
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]