<a href="https://colab.research.google.com/github/niladribanerjee80/python-udemy-jose/blob/main/Section_3_Objects_and_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lists**


---

Lists are ordered sequences that can hold variety of object types \
e.g \


*   [1,2,3] is a list
*   ["My STRING",100.23,67] is also a list

Lists can be muted / changed and can be nested

In [ ]:
# list of integers
my_list = [1,2,3]
my_list

[1, 2, 3]

In [ ]:
# list of mixed objects
my_list = ["STRING",2,3.56]
my_list

['STRING', 2, 3.56]

In [ ]:
# length of list
len(my_list)

3

In [ ]:
# Lists support indexing
my_list = ["one","two","three"]
my_list[0]

'one'

In [ ]:
# Lists support slicing like in strings
my_list[1:]

['two', 'three']

In [ ]:
# List concatenation is also possible
another_list = ["four","five"]
my_list = my_list + another_list
my_list

['one', 'two', 'three', 'four', 'five']

In [ ]:
# List can be muted
my_list[0] = "ONE ALL CAPS"
my_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [ ]:
# List methods = list.append() = adds element to the end of the list
my_list.append("six")
my_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [ ]:
# List methods = list.insert()
my_list.insert(0,"zero")
my_list

['zero', 'ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [ ]:
# List methods = list.pop() = removes item from last if index position is not mentioned
my_list.pop()
my_list

['zero', 'ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [ ]:
# grab the last element
popped_item = my_list.pop()
popped_item

'five'

In [ ]:
# remove something from a different position. Let say let's remove 'ONE ALL CAPS'
popped_item = my_list.pop(1)
print(popped_item)
print(my_list)

ONE ALL CAPS
['zero', 'two', 'three', 'four']

In [ ]:
# List sort method with strings
new_list = ["a","e","x","b","c"]
new_list.sort()
new_list

['a', 'b', 'c', 'e', 'x']

In [ ]:
# List sort method with numbers
new_list = [4,1,8,3]
new_list.sort()
new_list

[1, 3, 4, 8]

In [ ]:
# Reverse a list
new_list = [4,1,8,3]
new_list.reverse()
new_list

[3, 8, 1, 4]

In [ ]:
# How do I index a nested list? For example if I want to grab 2 from [1,1,[1,2]]
list_1 = [1,1,[1,2]]
list_1[2][1]

2

In [ ]:
# Create a list using input()
items = input("Enter multiple integers : ").strip().split()

Enter multiple integers : 1 2 3 4

In [ ]:
items

['1', '2', '3', '4']

# **Dictionary**


---


*   Unordered mapping of storing objects (key-value pairs)
*   No index location required
*   Dictionary cannot be sorted, sliced or indexed
*   Do not retain order of key-value pairs, but we have ***ordereddict*** as well

Whereas in Lists



*   Ordered items are stored
*   Index is required to access the items
*   Can be sorted, sliced and indexed

In [ ]:
# example of a dictionary
my_dict = {
    "key1":"value1",
    "key2":"value2"
  }
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [ ]:
my_dict["key1"]

'value1'

In [ ]:
prices_lookup = {
    "apple":2.99,
    "oranges":1.99,
    "milk":5.80
}

prices_lookup["apple"]

2.99

In [ ]:
# dictionaries can hold multiple things within

d = {
    "k1":123,               # a number
    "k2":[0,1,2],           # a list
    "k3":{"insideKey":100}  # a dict
}

# How to access the list within
d["k2"]

[0, 1, 2]

In [ ]:
# I want the value 100 to be accessed within the dictionary d
d["k3"]["insideKey"]

100

In [ ]:
# another example
d = {
    "key1":["a","b","c"]
  }

# make the letter c into upper
d["key1"][2].upper()

'C'

In [ ]:
# how to add a new key-value pair
d = {
    "k1":100,
    "k2":200
  }

d["k3"] = 300
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [ ]:
# I want to change the k1 value in the dictionary d
d["k1"] = "NEW VALUE"
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [ ]:
# what are keys of the dictionary d?
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [ ]:
# what are the values of the dictionary d?
d.values()

dict_values(['NEW VALUE', 200, 300])

In [ ]:
# how to iterate over keys and values

for key,value in d.items():
  print(f"key : {key} | value : {value}")

key : k1 | value : NEW VALUE
key : k2 | value : 200
key : k3 | value : 300

# **Tuples**


---



*   Tuples are similar to lists
*   Tuples can be accessed using index like in list
*   But they have immutability (cannot be changed, once an element is assigned)

In [ ]:
# example of a tuple
t = (1,2,3)
t

(1, 2, 3)

In [ ]:
# here is a list
my_list = [1,2,3]
my_list

[1, 2, 3]

In [ ]:
# list modification is possible
my_list[0] = "NEW"
my_list

['NEW', 2, 3]

In [ ]:
# but if you try to do tuple modification, it will throw error
t[0] = "NEW"

TypeError: 'tuple' object does not support item assignment

In [ ]:
type(t)

tuple

In [ ]:
t

(1, 2, 3)

In [ ]:
# tuples can be accessed using index like list
t[0]

1

In [ ]:
# methods of tuple = count()
t = ("a","a","b")
t.count("a")

2

In [ ]:
# methods of tuple = index(substr, start, end)
# index returns the first occurrence of a
t.index("a")

0

# **Set**


---

Unordered collection of unique elements

In [7]:
# initialize a set
myset = set()

In [8]:
# add elements to a set
myset.add(1)
myset

{1}

In [9]:
# add another element to a set
myset.add(2)
myset

{1, 2}

In [10]:
# now if I add 2 another time, nothing should happen because 2 already exists in myset
myset.add(2)
myset

{1, 2}

In [11]:
# generate unique set of letters from the word = Mississippi
set('Mississippi')

{'M', 'i', 'p', 's'}

# **Booleans**


---

* Returns True of False
* All Condition checks use booleans as result

In [12]:
name = "Sam"

if name == "Sam": # this returns boolean
    print("Hello Sam !") # condition is checking to be true
else:
    print("Hello dude !")

Hello Sam !

In [13]:
1 > 2

False

In [14]:
4 > 3

True